<div class="bs-sidebar hidden-print affix" role="complementary">
    <ul class="nav bs-sidenav">
        @{this.Html.RenderAction("AlbumHeaders", "Album", new { key = ViewBag.Key });}
        @{this.Html.RenderAction("AlbumActions", "Album", new { key = ViewBag.Key });}
        @{this.Html.RenderAction("Subscribers", "Subscription", new { key = ViewBag.Key });}
    </ul>
</div>
