<div id="home-page-carousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#home-page-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#home-page-carousel" data-slide-to="1"></li>
        <li data-target="#home-page-carousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="item active">
            <img src="~/Content/images/home/image_autumn.jpg" alt="Possibility: create your gallery." />
            <div class="carousel-caption">
                <h2>Unlimited file storage</h2>
                <p>Create albums, upload your photos and customize the gallery for yourself.</p>
            </div>
        </div>
        <div class="item">
            <img src="~/Content/images/home/image_space.jpg" alt="Possibility: leave comments." />
            <div class="carousel-caption">
                <h2>Comments</h2>
                <p>Express you feelings, make a comment to photos of other people.</p>
            </div>
        </div>

        <div class="item">
            <img src="~/Content/images/home/image_tree.jpg" alt="Possibility: subscribe to events of other people." />
            <div class="carousel-caption">
                <h2>Events</h2>
                <p>You can create the circle of known people and subscribe to their events.</p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#home-page-carousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#home-page-carousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>
