@{
    this.ViewBag.Title = "ImageViewer: Home";
    this.Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row navbar-margin">
        @(this.Html.Partial("_Carousel"))
    </div>
    <hr class="featurette-divider" />
    <div class="row well well-lg">
        <div class="col-md-7">
            <h3 class="featurette-heading">Personalization</h3>
            <p class="lead" align="justify">
                Create you personal gallery with dozens of albums and images.
                You have the unique possibility to upload unlimited number of your personal photos.
                Immortalize your by creating the greatest gallery fo all times.
                Feel free to touch the beauty of the surrounding world.
                The Universe continued to decrease in density and fall in temperature,
                hence the typical energy of each particle was decreasing.
                Symmetry breaking phase transitions put the fundamental forces of physics
                and the parameters of elementary particles into their present form.
            </p>
        </div>
        <div class="col-md-5">
            <img src="~/Content/images/home/feature_personalization.jpg" class="img-responsive" alt="Personalization" />
        </div>
    </div>
    <hr class="featurette-divider" />
    <div class="row well well-lg">
        <div class="col-md-5">
            <img src="~/Content/images/home/feature_comment.jpg" class="img-responsive" alt="Comment" />
        </div>
        <div class="col-md-7">
            <h3 class="featurette-heading">Comments</h3>
            <p class="lead" align="justify">
                Independent lines of evidence from Type Ia supernovae and the CMB
                imply that the Universe today is dominated by a mysterious form of
                energy known as dark energy, which apparently permeates all of space.
                The observations suggest 73% of the total energy density of today's
                Universe is in this form. When the Universe was very young, it was
                likely infused with dark energy, but with less space and everything
                closer together, gravity had the upper hand, and it was slowly
                braking the expansion.
            </p>
        </div>
    </div>
    <hr class="featurette-divider" />
    <div class="row well well-lg">
        <div class="col-md-7">
            <h3 class="featurette-heading">Events</h3>
            <p class="lead" align="justify">
                An important feature of the Big Bang spacetime is the presence of horizons.
                Since the Universe has a finite age, and light travels at a finite speed,
                there may be events in the past whose light has not had time to reach us.
                This places a limit or a past horizon on the most distant objects that can
                be observed. Conversely, because space is expanding, and more distant objects
                are receding ever more quickly, light emitted by us today may never "catch up"
                to very distant objects. This defines a future horizon, which limits the events
                in the future that we will be able to influence.
            </p>
        </div>
        <div class="col-md-5">
            <img src="~/Content/images/home/feature_events.jpg" class="img-responsive" alt="Events" />
        </div>
    </div>
    <hr class="featurette-divider" />
</div>





