@{
    ViewBag.Title = "Privacy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row navbar-margin">
        <img src="~/Content/images/home/privacy.jpg" class="img-responsive" alt="Privacy" />
        <hr class="featurette-divider" />
        <div class="row well well-lg">
            <p align="justify">
                The National Geographic Society and our subsidiary, NGHT, LLC,
                which also is known as nationalgeographic.com (collectively,
                “National Geographic,” “we” or “our”) understand the importance
                of our customers’ privacy. This Privacy Policy tells you what
                information we collect about you when you visit this website
                (our “Site”) or use an online application that contains a link
                to this Privacy Policy. Our Privacy Policy also tells you how we use,
                share and protect this information; what choices you have about how
                this information is used; and how you can access and update this
                information. Our Site offers certain content, activities, games and
                services, which are referred to as the “Services.” This Privacy Policy
                applies to information collected on the Site where this Privacy Policy is
                posted, with the exception of the sections of this Site that are intended
                for visits from children under the age of 13, including www.nationalgeographic.com/kids,
                www.littlekids.nationalgeographic.com, and certain online features specifically
                designed for kids. In recognition of the need to provide additional privacy
                protections for children, we have a separate privacy policy that applies to
                those sections. To read the Kids' privacy policy, please click here. Certain
                aspects of this Privacy Policy also apply to the personally identifiable
                information we collect offline.
            </p>
            <p align="justify">
                For purposes of this Privacy Policy, “personally identifiable information”
                means information that identifies and can be used to contact a particular
                individual, such as name, postal address, email address, and phone number.
                When other information, such as email newsletter choices, magazine or product
                purchases, or consumer product preferences, is associated with personally
                identifiable information, this other information also becomes personally
                identifiable information.
            </p>
        </div>
    </div>
</div>

