@{
    ViewBag.Title = "Terms";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row navbar-margin">
        <img src="~/Content/images/home/terms.jpg" class="img-responsive" alt="About Us" />
        <hr class="featurette-divider" />
        <div class="row well well-lg">
            <p align="justify">
                THESE TERMS AND CONDITIONS OF SERVICE (the "Terms") ARE A LEGAL AND BINDING
                AGREEMENT BETWEEN YOU AND NATIONAL GEOGRAPHIC governing your use of this Service,
                www.nationalgeographic.com, which includes but is not limited to products, software
                and services offered by way of the website such as any "Video Player," "Uploader,"
                and other applications that link to these Terms (the "Service"). "National Geographic"
                includes National Geographic Society, its subsidiaries, and its licensees that produce
                or distribute NG Products. An NG Product is defined as "a product of National Geographic,
                a subsidiary, affiliate, joint venturer, or licensee of National Geographic, in any
                language, over which National Geographic has Editorial Control." For the purposes of
                this Agreement, "Editorial Control" means the right to review, consult regarding,
                formulate standards for, or to exercise a veto over the appearance, text, use, or
                promotion of the NG Product.
            </p>
        </div>
    </div>
</div>

