<footer>
    <div class="footer">
        <div class="container">
            <p class="credit">
                &copy; BSUIR, FKSIS, Raman But-Husaim, 2013 ·
                <a href="@Url.Action("Privacy", "Home")">Privacy</a>
                ·
                <a href="@Url.Action("Terms", "Home")">Terms</a>
            </p>
        </div>
    </div>
</footer>
