<div class="bs-sidebar hidden-print affix" role="complementary">
    <ul class="nav bs-sidenav">
        @{this.Html.RenderAction("DetailedView", "Image", new { key = ViewBag.Key, albumKey = ViewBag.AlbumKey, imageKey = ViewBag.ImageKey });}
        @{this.Html.RenderAction("ImageNavbarActionList", "Image", new { key = ViewBag.Key, albumKey = ViewBag.AlbumKey, imageKey = ViewBag.ImageKey });}
        @{this.Html.RenderAction("Subscribers", "Subscription", new { key = ViewBag.Key });}
    </ul>
</div>
