<div class="bs-sidebar hidden-print affix" role="complementary">
    <ul class="nav bs-sidenav">
        @{this.Html.RenderAction("DetailedView", "Album", new { key = ViewBag.Key, albumKey = ViewBag.AlbumKey });}
        @{this.Html.RenderAction("ImageActions", "Image", new { key = ViewBag.Key, albumKey = ViewBag.AlbumKey });}
        @{this.Html.RenderAction("Subscribers", "Subscription", new { key = ViewBag.Key });}
    </ul>
</div>
