
@{
    ViewBag.Title = "ViewImage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row navbar-margin">
    <div class="col-md-3">
        @{Html.RenderAction("ImageNavigationBar", "Image");}
    </div>
    <div id="user-image-list" class="col-md-9">
        @{Html.RenderAction("ImagePreview", "Image");}
    </div>
</div>

@section scripts
{
    <script type="text/javascript" src="~/Scripts/image/image.js"></script>
    <script type="text/javascript" src="~/Scripts/image/imageactions.js"></script>
    <script type="text/javascript" src="~/Scripts/comment/commentactions.js"></script>
}

