@using BSUIR.TermWork.ImageViewer.UI.WebSite.ViewModel.Subscription

@model SubscriptionCreateViewModel

<div class="modal fade" id="unsubscribe-modal" tabindex="-1" role="dialog" aria-labelledby="unsubscribe-modal-header" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="unsubscribe-modal-header">Remove Album</h4>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row col-md-8">
                        @using (this.Html.BeginForm("Unsubscribe", "Subscription", new { key = Model.UserKey }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.HiddenFor(p => p.Key)
                            <div class="form-group">
                                <div class="col-md-offset-2">
                                    <p>Do you really want to unsubscribe?</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2">
                                    <button class="btn btn-primary" type="submit"><i class="fa fa-frown-o fa-fw"></i> Unsubscribe</button>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

